.move:hover {
    scale: 1.5 1;
    transition-property: scale, opacity;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    opacity: 0.5;
}

.animation {
    translate: 100px 100px;
    transition-property: translate;
}
